.advertisement {
    margin-right: auto;
    margin-left: 64px;
    margin-bottom: 64px;
    padding: 128px 96px;
    border-radius: 22px 0 0 22px;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.headingTextAds {
    color: #fff;
    max-width: 330px;
    font-size: 64px;
    line-height: 1em;
    font-weight: 500;
    font-family: 'Paytone One', sans-serif;
    margin-bottom: 100px;
}

.cardsAds {
    margin-left: 20px;
    min-height: 500px;
    width: 354px;
    margin-right: 16px;
    padding: 24px 32px 32px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: 'Paytone One', sans-serif;
    border-radius: 22px;
    background-color: #5b53ff;
    background-image: url(https://assets-global.website-files.com/5fce901…/620d12a…_bg-pricing-card.png),repeating-linear-gradient(135deg,#23b516,#ff6c36);
    background-position: 100% 0;
    background-size: auto;
    background-repeat: no-repeat;
    text-align: center;
    
}
.c2{
    background-color: transparent;
    background-image: url(https://assets-global.website-files.com/5fce901…/620d12a…_bg-pricing-card.png),repeating-linear-gradient(135deg,#5b53ff,#ff4136);
    background-position: 100% 0,0 0;
    background-size: auto,auto;
    box-shadow: inset 0 0 0 4px #fff;
    font-family: 'Paytone One', sans-serif;

}

.cardsAdsTitle{
    overflow: visible;
    padding: 5px 12px;
    float: left;
    border-radius: 50px;
    background-color: hsla(0,0%,100%,.3);
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    
    
}

.cardsAdsPrice {
    position: relative;
    margin-top: 45px;
    margin-bottom: 16px;
    color: #fff;
    font-size: 30px;
    line-height: 1;
    font-weight: 500;
    text-decoration: none;
}

.cardsAdsText {
    margin-bottom: 8px;
    color: #fff;
    font-size: 24px;
    line-height: 1;
}
.cardsAds img {
    border: 0;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    margin-top: 10px;
}
.pricing-card-features {
    margin-top: 60px;
    margin-bottom: 40px;
    opacity: .7;
}
.pricing-card-feature-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 12px;
}
.text-block-36 {
    margin-left: 10px;
    color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}