.advertisement {
    margin-right: auto;
    margin-left: 64px;
    margin-bottom: 64px;
    padding: 128px 96px;
    border-radius: 22px 0 0 22px;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.headingTextAds {
    color: #fff;
    max-width: 330px;
    font-size: 64px;
    line-height: 1em;
    font-weight: 500;
    font-family: 'Paytone One', sans-serif;
    margin-bottom: 100px;
}

